body {
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
}

.pokeball-logo {
  /* position: absolute; */
  width: 120px;
  height: 120px;
  opacity: 0.1;
  position: absolute;
  bottom: -5%;
  right: -8%;
}

.pokemon-image1 {
  /* width: 130px;
  height: 106px; */
  border-radius: 30%;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.pokemon-image2 {
  /* width: 130px;
  height: 106px; */
  border-radius: 30%;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.pokemon-image3 {
  /* width: 130px;
  height: 106px; */
  border-radius: 30%;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.pokemon-name {
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
}

.pokedex-content {
  /* width: 50%; */
  position: relative;
  padding: 0.5em;
  background: lightblue;
  border-radius: 10%;
  margin: 1em 0;
  overflow: auto;
  overflow: hidden;
  box-shadow: 0px 10px 7px -1px rgba(192, 192, 192, 1);
  min-width: 200px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokebox {
  /* text-align: center; */
  margin: 0.5em;
  /* background: blue; */
}

img {
  border-radius: 10%;
}

span {
  margin: 0 1em;
}

.description {
  display: flex;
  /* justify-content: space-around; */
}

.type {
  text-transform: capitalize;
  /* color: lightgray; */
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 10px;
  text-align: center;
  padding: 0 5px;
  border-radius: 15%;
}

.fire-type {
  background: red;
}

.grass-type {
  background: green;
}

.poison-type {
  background: purple;
}
