body {
  font-family: "Mukta", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.pokeball-logo {
  /* position: absolute; */
  width: 120px;
  height: 120px;
  opacity: 0.6;
  position: absolute;
  bottom: -5%;
  right: -8%;
}

.pokemon-image {
  /* width: 130px;
  height: 106px; */
  width: 120px;
  height: 120px;
  z-index: 1;
}

.pokemon-name {
  color: #313131;
  text-transform: capitalize;
  margin: 0;
}

.pokedex-content {
  position: relative;
  padding: 0.5em;
  background-color: #f5f5f5;
  border-radius: 10%;
  margin: 1em 0.3em;
  overflow: auto;
  overflow: hidden;
  box-shadow: 0px 10px 7px -1px rgba(192, 192, 192, 1);
  min-width: 220px;
  opacity: 1;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  border-radius: 10%;
}

.description {
  display: flex;
}

.type {
  text-transform: capitalize;
  color: white;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 10px;
  text-align: center;
  min-width: 70px;
  /* padding: 0 5px;
  border-radius: 15%; */
}

.fire-type {
  background-color: rgba(255, 147, 10, 0.8);
  padding: 0 5px;
  border-radius: 15%;
}

.grass-type {
  background-color: rgba(91, 217, 120, 0.8);
  padding: 0 5px;
  border-radius: 15%;
}

.poison-type {
  background-color: rgba(216, 156, 240, 0.8);
  padding: 0 5px;
  border-radius: 15%;
}

.water-type {
  background-color: rgba(59, 112, 227, 0.7);
  padding: 0 5px;
  border-radius: 15%;
}

.flying-type {
  background: linear-gradient(to top, #bdb9b8 50%, #3dc7ef 50%);
  padding: 0 5px;
  border-radius: 15%;
}

.ground-type {
  background: linear-gradient(to top, #ab9842 50%, #f7de3f 50%);
  padding: 0 5px;
  border-radius: 15%;
}

.dragon-type {
  background: linear-gradient(to top, #f16e57 50%, #53a4cf 50%);
  padding: 0 5px;
  border-radius: 15%;
}

.bug-type {
  background-color: rgba(58, 120, 61, 0.8);
  padding: 0 5px;
  border-radius: 15%;
}

.normal-type {
  background-color: rgba(164, 172, 175);
  padding: 0 5px;
  border-radius: 15%;
}

.electric-type {
  background-color: rgba(238, 213, 53, 0.8);
  padding: 0 5px;
  border-radius: 15%;
}

.fairy-type {
  background-color: #fdb9e9;
  padding: 0 5px;
  border-radius: 15%;
}

.fighting-type {
  background-color: #d56723;
  padding: 0 5px;
  border-radius: 15%;
}

.psychic-type {
  background-color: #f366b9;
  padding: 0 5px;
  border-radius: 15%;
}

.rock-type {
  background-color: #a38c21;
  padding: 0 5px;
  border-radius: 15%;
}

.steel-type {
  background-color: #9eb7b8;
  padding: 0 5px;
  border-radius: 15%;
}

.ice-type {
  background-color: #51c4e7;
  padding: 0 5px;
  border-radius: 15%;
}

.ghost-type {
  background-color: #7b62a3;
  padding: 0 5px;
  border-radius: 15%;
}

.dark-type {
  background-color: #707070;
  padding: 0 5px;
  border-radius: 15%;
}

.scroll-up {
  scroll-behavior: smooth;
  position: fixed;
  top: 90%;
  right: 0;
  background-color: grey;
  border: none;
  padding: 10px 5px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.3;
  transition: 0.3s;
  border-radius: 10%;
}

.logo {
  font-family: "Russo One", sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.load-more {
  background: #30a7d7;
  color: white;
  font-family: "Flexo-Demi", arial, sans-serif;
  font-size: 1em;
  padding: 1em;
  border-radius: 5px;
}

.load {
  text-align: center;
  margin: 0;
}

.input-container {
  text-align: center;
  /* margin: 1em 0; */
}

.pokemon-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
}

.poke-number {
  /* padding-top: 30px;
  padding-bottom: 30px; */
}

.poke-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.pokemon-wrapper {
  margin: 0 1em;
  height: 100vh;
}

.type-container {
  display: flex;
  justify-content: center;
}

.stats {
  text-transform: capitalize;
}

.progress-bar {
  position: relative;
  width: 1em;
  height: 80%;
  background-color: rgb(60, 124, 228);
  border-radius: 1.5em;
  color: white;
  margin: 0 auto;
}

.stats-wrapper {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 5%;
  /* font-size: 12px; */
  /* display: flex;
  text-align: center; */
}

.stats-container {
  margin: 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 0.7em; */
}

.description {
  text-align: center;
}

/* .stats-container {
  display: flex;
} */
/* .progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 2.6px;
  bottom: 0.2em;
  width: calc(var(--width, 10) * 1%); */
/* min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #069;
  border-radius: 1em;
  padding: 0.3em;
} */

.explore-button {
  background-color: #e66b24;
  color: white;
  border-radius: 5%;
  padding: 0.7em;
  font-size: 1.2em;
  display: block;
  margin: 1em auto;
}

@media screen and (min-width: 600px) {
  .pokemon-container {
    margin: 0 8em;
  }

  .scroll-up {
    position: fixed;
    top: 85%;
    right: 3%;
  }

  .scroll-up:hover {
    opacity: 1;
  }
}
